 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-1 .u-gallery-1 {
  height: 512px;
  width: 366px;
  margin: 84px auto 0 502px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-2 {
  height: 419px;
  width: 427px;
  margin: -350px auto 0 759px;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -495px auto 0 -46px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 10px 821px 0 -46px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 27px auto 60px -46px;
  padding: 9px 33px 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    margin-left: 525px;
  }

  .u-section-1 .u-gallery-2 {
    margin-left: 536px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -23px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 598px;
    margin-left: -23px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    margin-left: 377px;
  }

  .u-section-1 .u-gallery-2 {
    margin-left: 316px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    margin-left: 197px;
  }

  .u-section-1 .u-gallery-2 {
    margin-left: 136px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-left: 23px;
  }

  .u-section-1 .u-gallery-2 {
    width: 340px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -23px;
  }
}